<div class="container">
  <div class="row ">
    <div class="col-md-5 col-sm-12 offset-3 text-center ">
      <img src=" /assets/images/logo.svg" class="logo mt-5 mb-5  img-fluid " alt="">
      <div class="card">
        <div class="card-body">
          <p>Earn pando token based on your specs, uptime and pando wallet balance! Learn More</p>
          <input type="text" class="form-control custom-input" placeholder="Enter pando Wallet Address">
          <div class="d-grid gap-2 mt-5 mb-4">
            <button class="btn btn-custom-red" type="button" (click)="signUp()">Sign Up</button>
          </div>
          <small class="privecy-text">
            Private keys, mnemonic phrases, and keystores will never be required. Always protect your wallet!
          </small>
        </div>


      </div>
    </div>

  </div>
</div>
